<!DOCTYPE html>
<html>
<head>
	<title>Add Inventory</title>
</head>
<body>
	<center>
			<h2>Add New Inventory</h2>
			<hr>
	</center>
	<br><br>
	<a href="/"><button>Home Button</button></a>

	<br><br>

	  	<form action="/newInventory" method="POST">

        	<label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName" required><br><br>
            
            <label for="dateCreated">Date Created:</label>
            <input type="date" id="dateCreated" name="dateCreated" required><br><br>

            <label for="inventoryAvailable">Inventory Available:</label>
            <input type="number" id="inventoryAvailable" name="inventoryAvailable" required><br><br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required><br><br>

            <label for="warehouseLocation">Warehouse Location:</label>
            <input type="text" id="warehouseLocation" name="warehouseLocation" required><br><br>
            
            <br><br>
            <input type="submit" value="Add Inventory">
    	</form>

</body>
</html>