<!DOCTYPE html>
<html>
<head>
	<title>Shopify Developer 2022</title>
</head>
<body>
	
		<center>
			<h2>Shopify Backend Developer 2022 </h2>
			<hr>
		</center>

		<br><br>
		<a href="displayData"><button>View Data</button></a>

		<br><br>
		<a href="addInventory"><button>Add Inventory</button></a>
		
		<br><br>
		<a href="removeInventory"><button>Remove Inventory</button></a>

		<br><br>
		<a href="updateInventoryDetails"><button>Update Inventory</button></a>

		<br><br>
		<a href="download" download="productsInventory.csv">Export Data To CSV</a>

		
</body>
</html>