<!DOCTYPE html>
<html>
<head>
	<title>Remove Inventory</title>
</head>
<body>
	<center>
			<h2>Remove Existing Inventory</h2>
			<hr>
	</center>
	<br><br>
	<a href="/"><button>Home Button</button></a>

	<br><br>

	  	<form action="/dataAfterRemoval" method="POST">

        	<label for="sku">Enter Inventory Sku:</label>
            <input type="text" id="sku" name="sku" required><br><br>
            
            <br><br>
            <input type="submit" value="Remove Inventory">
    	</form>

</body>
</html>